*.pkl
*.csv
*.png
*.pyc
Assignment1/data/*
Assignment1/ass1_data/*
./**/data/*
./**/pickle/*
Assignment2/part a/ass2.ipynb
Assignment2/part a/ass2_old.ipynb
Assignment2/part a/GaussianNB Demo.ipynb
Assignment2/part b/ass2b.ipynb
Assignment2/part b/ass2b_final.ipynb
Assignment2/part b/ass2b_final.pdf
*.zip
*.txt
Assignment3/part b/trash/*
